/* styles we don't want/need in downloaded svg */

.dot:hover {
  stroke-width: 2px;
  cursor: help;
}

.changepoints-fill:hover {
  opacity: 1 !important;
  cursor: help;
}

.changepoints-text {
  pointer-events: none;
}
