/* styles we don't want/need in downloaded svg */

#frequency .dot:hover {
  stroke-width: 2px;
  cursor: help;
}

#frequency .changepoints-fill:hover {
  opacity: 1 !important;
  cursor: help;
}

#frequency .changepoints-text {
  pointer-events: none;
}
