/.venv
/.github
/.vscode
./data

# # exclude git in general...
/.git
# # ...but allow specific metadata paths
# !/.git/HEAD
# !/.git/config
# !/.git/refs

# also ignore pycache and *.pyc files
__pycache__/
*.py[cod]
