.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: calc(var(--page) / 2 - 40px);
  max-width: 100%;
  transition: box-shadow var(--fast);
}

.download {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background: var(--lightGray);
  color: var(--gray);
  transition: background var(--fast), color var(--fast);
}

.chart:hover .download:hover {
  background: var(--lightPurple);
  color: var(--purple);
}
