.chart {
  display: flex;
  flex-direction: column;
  width: calc(var(--page) / 2 - 40px);
  max-width: 100%;
  transition: box-shadow var(--fast);
  box-shadow: 2px 4px 10px #00000020;
}

.chart-controls {
  display: flex;
  gap: 20px;
  padding: 10px;
}
