.dropdown-container {
  position: relative;
}

.input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: solid 1.5px black;
  border-radius: 999px;
  font-size: 1rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown {
  position: absolute;
  min-width: 100%;
  max-width: 90vw;
  top: calc(100% + 5px);
}

header[data-fullscreen="true"] .dropdown {
  left: 50%;
  transform: translateX(-50%);
}

header[data-fullscreen="false"] .dropdown {
  right: 0;
}

.dropdown-list {
  max-height: min(50vh, 300px);
  overflow-x: auto;
  overflow-y: auto;
  background: white;
  box-shadow: 0 1px 3px var(--gray);
}

.dropdown-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 25px;
  padding: 0 10px;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-cell:last-child {
  color: var(--gray);
  direction: rtl;
}

.dropdown-option[data-highlighted="true"] {
  background: var(--lightPurple);
}
