.dropdown-container {
  position: relative;
}

.input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: solid 1.5px black;
  border-radius: 999px;
  font-size: 1rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown {
  position: absolute;
  min-width: 100%;
  max-width: max(300px, 100%);
  right: 0;
  top: calc(100% + 5px);
}

.dropdown-list {
  max-height: min(50vh, 300px);
  overflow-x: auto;
  overflow-y: auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px var(--gray);
}

.dropdown-option {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  text-align: left;
  cursor: pointer;
}

.dropdown-option[data-highlighted="true"] {
  background: var(--lightPurple);
}
