#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
  width: 300px;
  max-width: 100%;
  margin-bottom: -10px;
  text-align: center;
}

#search {
  width: 100%;
  padding: 10px 20px;
  border: solid 3px var(--gray);
  border-radius: 999px;
  font-size: 1rem;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#search:focus {
  border-color: var(--darkGray);
}

header[data-fullscreen="false"] #search-label {
  display: none;
}
