.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 300px;
}

header[data-fullscreen="false"] .search-label {
  display: none;
}

header[data-fullscreen="true"] .search {
  transform: translateX(20px);
}
