.title {
  max-width: 300px;
}

.title tspan {
  fill: white;
  stroke: black;
  stroke-width: 0.02em;
  font-family: "Righteous", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-anchor: middle;
  alignment-baseline: middle;
}

.title tspan:not(:last-child) {
  letter-spacing: 2px;
}

header[data-fullscreen="false"] .title {
  max-width: min(150px, 25vw);
}