header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 100vh;
  padding: var(--pagePadding);
  background: var(--offWhite);
  text-align: center;
  z-index: 1;
  transition: min-height var(--fast);
}

header[data-fullscreen="false"] {
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: var(--pagePaddingSmall);
  min-height: 0;
}

