.results {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
}

.results-col {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 100%;
}

.chart {
  display: flex;
  flex-direction: column;
  width: calc(var(--page) / 2 - 60px);
  max-width: 100%;
}

.chart > svg[id] {
  box-shadow: 0 2px 5px 2px var(--offWhite);
}

.chart-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

@media (max-width: 600px) {
  .slider {
    padding: 10px;
    padding-bottom: 25px;
  }
}
