* {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: var(--pagePadding);
}

@media (max-width: 600px) {
  main {
    padding: var(--pagePaddingSmall);
  }
}

svg {
  overflow: visible !important;
}

a {
  color: currentColor;
  transition: color var(--purple);
}

a:hover {
  color: var(--purple);
}

*:focus-visible {
  outline-color: var(--purple);
}
